/* Global Formatting */

body {	
	height: 100%;
	text-align: center;
	font-family: 'Trebuchet MS', 'MS PGothic', Verdana, Arial, Serif;
	font-size: 12px;
}
a {
	color: #000000;
	text-decoration: none;
}
pre {
	color: #000000;
	background-color: #F0F0F0;
	border-left: medium double #154ead;
	font-size: 10pt;
	font-family: monospace;
	margin: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 1em;
}
h2 {
	border-bottom: 1px solid #154ead;
	margin-top: 35px;
	margin-bottom: 5px;
	font-size: 150%;
	height: 30px;
}
h3 {
	margin-top: 25px;
	font-size: 120%;
}
h4 {
	font-size: 100%;
	margin-bottom: -10px;
}
dl {
	margin-left: 20px;
}
code {
        margin-left: 4px;
        margin-right: 4px;
}

/* This bit makes the content be centered in both IE and FF */

#container {
	width: 760px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

/* Misc Formatting */

.code {
	color: #000000;
	background-color: #F0F0F0;
	border-left: medium double #154ead;
	font-size: 10pt;
	font-family: "Courier New", Courier, mono;
	margin: 10px;
	padding-left: 1em;
}
blockquote {
	border-top: 1px solid #154ead;
	border-bottom: 1px solid #154ead;
	font-size: 10pt;
	margin: 10px;
	padding-left: 1em;
}
/* Header Formatting */

#banner {
	padding: 5px;
	margin-bottom: 5px;
}
#header {
	font-weight: bold;
	font-size: 30px;
}
#subtext {
	border-bottom: 3px solid #154ead;
}

/* Content Formatting */

#content {
	padding: 5px;
	margin: 0;
	margin-right: 215px;
}
#content a {
	border-bottom: 1px dashed #CECECE;
	color: #000000;
	text-decoration: none;
}
#content a:hover {
	color: #FFFFFF;
	background: #154ead;
}
.author {
	text-align: right;
	border-top: 1px solid #154ead;
}
.title {
	border-bottom: 1px solid #154ead;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 150%;
	height: 30px;
}

/* Menu Formatting */

#right {
	float: right;
	width: 200px;
	margin: 0;
	margin-left: 5px;
	padding: 5px;
}
#right a {
	display: block;
	padding: 3px;
	padding-left: 10px;
}
#right a:hover {
	color: #FFFFFF;
	background-color: #154ead;
}

/* Footer Formatting */

#footer {
	clear: both;
	padding: 5px;
	margin-top: 5px;
	border-top: 3px solid #154ead;
	text-align: center;
}
