*.o
depend/
caper/caper
caper/caper.exe
capella/capella.hpp
capella/capella
capella/capella.exe
caper/samples/*/*.exe
caper/samples/*/*.exe.mdb
caper/samples/ruby/*_parser.rb
caper/samples/php/*_parser.php
caper/vcproj/Debug
caper/vcproj/Release
caper/vcproj/*.sdf
caper/vcproj/*.suo
tmp/*.zip
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Debug/
Release/
Win32/
x64/
.vs
*.filters
*.idb
*.map
*.ncb
*.opensdf
*.sdf
*.suo
*.user
